/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so LESS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:  
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
@prim-color #ebe16f;
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('../fonts/font-name.eot');
    	src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('../fonts/font-name.woff') format('woff'),
             url('../fonts/font-name.ttf') format('truetype'),
             url('../fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #b43c8c;
  border-top-color: #c34b9b;
  border-left-color: #c34b9b;
  padding: 4px 12px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #c6539f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cc66aa), to(#c6539f));
  background-image: -webkit-linear-gradient(top, #cc66aa, #c6539f);
  background-image: -moz-linear-gradient(top, #cc66aa, #c6539f);
  background-image: -o-linear-gradient(top, #cc66aa, #c6539f);
  background-image: linear-gradient(to bottom, #cc66aa, #c6539f);
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #ffffff;
  border: 1px solid #b43c8c;
  border-top-color: #993377;
  border-left-color: #993377;
  background-color: #bf4095;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c6539f), to(#bf4095));
  background-image: -webkit-linear-gradient(top, #c6539f, #bf4095);
  background-image: -moz-linear-gradient(top, #c6539f, #bf4095);
  background-image: -o-linear-gradient(top, #c6539f, #bf4095);
  background-image: linear-gradient(to bottom, #c6539f, #bf4095);
}
.button:active,
.button:visited:active {
  background-color: #cc66aa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c6539f), to(#cc66aa));
  background-image: -webkit-linear-gradient(top, #c6539f, #cc66aa);
  background-image: -moz-linear-gradient(top, #c6539f, #cc66aa);
  background-image: -o-linear-gradient(top, #c6539f, #cc66aa);
  background-image: linear-gradient(to bottom, #c6539f, #cc66aa);
}
.button-blue-button,
.button-blue-button:visited {
  border-color: #406abf;
  text-shadow: 0 1px 1px #406abf;
  background-color: #5379c6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6688cc), to(#5379c6));
  background-image: -webkit-linear-gradient(top, #6688cc, #5379c6);
  background-image: -moz-linear-gradient(top, #6688cc, #5379c6);
  background-image: -o-linear-gradient(top, #6688cc, #5379c6);
  background-image: linear-gradient(to bottom, #6688cc, #5379c6);
  -webkit-box-shadow: inset 0 0 3px #a3b8e0;
  -moz-box-shadow: inset 0 0 3px #a3b8e0;
  box-shadow: inset 0 0 3px #a3b8e0;
}
.button-blue-button:hover,
.button-blue-button:visited:hover,
.button-blue-button:focus,
.button-blue-button:visited:focus {
  border-color: #3960ac;
  background-color: #406abf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#577cc7), to(#406abf));
  background-image: -webkit-linear-gradient(top, #577cc7, #406abf);
  background-image: -moz-linear-gradient(top, #577cc7, #406abf);
  background-image: -o-linear-gradient(top, #577cc7, #406abf);
  background-image: linear-gradient(to bottom, #577cc7, #406abf);
}
.button-blue-button:active,
.button-blue-button:visited:active {
  background-color: #6688cc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5379c6), to(#6688cc));
  background-image: -webkit-linear-gradient(top, #5379c6, #6688cc);
  background-image: -moz-linear-gradient(top, #5379c6, #6688cc);
  background-image: -o-linear-gradient(top, #5379c6, #6688cc);
  background-image: linear-gradient(to bottom, #5379c6, #6688cc);
}
/*********************
REM UNIT MIXINS
https://github.com/christopher-ramirez/remixings
*********************/
/*
.rem-mixins-test-class {
    .font-size(10px);
    .line-height(20px);
    .margin(10px);
    .margin(3em);
    .margin(10px, 20px);
    .margin(10px, 20%);
    .margin(0px , 20px);
    .margin-top(2%);
    .margin-top(2px);
    .padding(10px);
    .padding(3em);
    .padding(10px, 20px);
    .padding(10px, 20%);
    .padding(3em, 20px)
}
*/
/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
.main-navigation {
  /* .menu is clearfixed inside mixins.scss */

  /* end .nav-menu */

}
.main-navigation .nav-menu {
  /* end .nav-menu ul */

}
.main-navigation .nav-menu ul {
  /* end .nav-menu li */

  /* highlight current page */

  /* end current highlighters */

}
.main-navigation .nav-menu ul li {
  /* plan your menus and drop-downs wisely. */

}
.main-navigation .nav-menu ul li a {
  /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/

}
/* end .main-navigation */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */

}
.entry-content .alignleft,
.entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.entry-content .alignright,
.entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.entry-content .aligncenter,
.entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links *//* import grid */
body {
  width: 100%;
  zoom: 1;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*****
LAYOUTS
*****/
.first {
  margin-left: 0px;
}
.last {
  margin-right: 0px;
}
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

------------ MAP ------------

TABLE OF CONTENTS
- LAYOUT & GRID STYLES
	- Page Structure
	- Layout Selection
	- Links
	- H1, H2, H3, H4, H5, H6 Styles
	- The Basics
- HEADER & NAVIGATION
	- Site Header
	- Navigation
- POSTS & CONTENT STYLES
	- Entry Header
	- Entry Meta
	- Entry Content
	- Galleries
	- Attachments
	- Paging Navigation
	- Author Bio
- POST FORMATS
- STANDARD PAGES
	- Archives
	- Search Results
	- 404
	- Evrything Else
- COMMENT STYLES
- COMMENT FORM STYLES
- SIDEBARS & ASIDES
	- Widget 1
	- Widget 2
- FOOTER STYLES
- Author BIOS
- MULTI-SITE

******************************************************************/
/******************************************************************
LAYOUT & GRID STYLES
******************************************************************/
/* Page Structure
-------------------------------------------------------------- */
/*
body
	#page .site
		> header#masthead .site-header
		+ #main .site-main
			>#primary .content-area
				>#content .site-content
					>article
			+#secondary .widget-area .aside1
			+.widget-area .aside2
		+footer#colophon .site-footer
-------------------------------------------------------------- */
.wrap {
  max-width: 960px;
  max-width: 96rem;
  margin: 0 auto 0;
}
.site {
  max-width: 960px;
  max-width: 96rem;
  margin: 0 auto 0;
  margin-top: 10px;
  margin-top: 1rem;
  padding: 10px;
  padding: 1rem;
  box-shadow: 1px 1px 10px #ccc;
  overflow: hidden;
}
.site-main {
  clear: both;
  max-width: 960px;
  max-width: 96rem;
  margin: 0 auto 0;
}
.site-main .content-area .site-content {
  margin-top: 28px;
  margin-top: 2.8rem;
}
.site-main .widget-area {
  border-left: 1px solid #EDEDED;
}
/** Layout Selection
-------------------------------------------------------------- */.site-main {
  overflow: hidden;
}
.site-main .content-area {
  float: left;
  margin: 0 -32% 0 0;
  width: 100%;
}
.site-main .content-area .site-content {
  margin: 0 34% 0 0;
}
.site-main .widget-area {
  float: right;
  overflow: hidden;
  width: 32%;
}
.site-footer {
  clear: both;
  width: 100%;
}
/** Links
-------------------------------------------------------------- */
a,
a:visited {
  /* on hover */

  /* on click */

}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #0f3647;
}
/** H1, H2, H3, H4, H5, H6 Styles 
-------------------------------------------------------------- */
/** THE BASICS
-------------------------------------------------------------- */
/******************************************************************
HEADER & NAVIGATION
******************************************************************/
/** Site Header
-------------------------------------------------------------- */
/** 
header#masthead .site-header
	.inner-header
		.site-branding
			h1.site-title
			h2.site-description
		nav#site-navigation .main-navigation	
-------------------------------------------------------------- */
.site-header .inner-header {
  background: url(../images/buffy-banner.png) no-repeat;
  max-width: 960px;
  max-width: 96rem;
  margin: 0 auto 0;
}
.site-branding {
  height: 145px;
  height: 14.5rem;
}
.site-branding a:hover {
  color: #ffffff;
}
.site-branding .site-description {
  color: #ffffff;
}
.logo {
  text-align: left;
}
/** Navigation
-------------------------------------------------------------- */
/*
header#masthead .site-header
	.inner-header
		.site-branding
		nav#site-naviagtion .main-navigation
			h3.menu-toggle
			.asssitive-text
			nav.menu
				ul
					li.page-item
						a
-------------------------------------------------------------- */
.menu-toggle {
  display: none;
}
/* end .main-navigation */
ul.nav-menu {
  display: inline-block !important;
  text-align: left;
  width: 100%;
  margin: 0;
  text-indent: 0;
  /* end .nav-menu li */

  /* highlight current page */

  /* end current highlighters */
}
ul.nav-menu li {
  margin: 0;
  margin-right: 40px;
  margin-right: 4rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
ul.nav-menu li a {
  border-bottom: 0;
  color: #757575;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
ul.nav-menu li a:hover,
ul.nav-menu li a:focus {
  color: #444444;
}
ul.nav-menu li ul.sub-menu,
ul.nav-menu li ul.children {
  display: none;
}
ul.nav-menu li ul.sub-menu li,
ul.nav-menu li ul.children li {
  margin: 0;
  padding: 0;
}
ul.nav-menu li ul.sub-menu li a,
ul.nav-menu li ul.children li a {
  background: #fff;
  border-bottom: 2px solid #222;
  font-size: 11px;
  line-height: 16.5px;
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: 8px 10px;
  padding: 0.8rem 10px;
  padding: 8px 1rem;
  padding: 0.8rem 1rem;
  width: 180px;
  width: 18rem;
}
ul.nav-menu li ul.sub-menu li a:hover,
ul.nav-menu li ul.children li a:hover,
ul.nav-menu li ul.sub-menu li a:focus,
ul.nav-menu li ul.children li a:focus {
  background: #e3e3e3;
  color: #444444;
}
ul.nav-menu li:hover ul {
  position: absolute;
  display: inline-block;
  margin-left: -45px;
  margin-left: -4.5rem;
  padding-top: 2px;
  padding-top: 0.2rem;
}
/* end .nav-menu ul */
/******************************************************************
POSTS & CONTENT STYLES
******************************************************************/
/* end .hentry */
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta
-------------------------------------------------------------- */
/** Entry Header
-------------------------------------------------------------- */
/** Entry Title
-------------------------------------------------------------- */
/** Entry Thumbnail
-------------------------------------------------------------- */
/** Entry Meta 
-------------------------------------------------------------- */
.entry-meta a:hover {
  color: #0f3647;
}
/** Entry Format
-------------------------------------------------------------- */
.comments-link a:hover {
  color: #0f3647;
}
/** Entry content 
-------------------------------------------------------------- */
/* end .entry-content */
/* end .wp-caption */
/** Galleries 
-------------------------------------------------------------- */
/* end .gallery */
/* gallery caption styles */
/** Attachments 
-------------------------------------------------------------- */
/** Paging Navigation 
-------------------------------------------------------------- */
/******************************************************************
POST FORMATS
******************************************************************/
/** Aside
-------------------------------------------------------------- */
/** Image
-------------------------------------------------------------- */
/** Gallery
-------------------------------------------------------------- */
/** Link
-------------------------------------------------------------- */
/** Quote
-------------------------------------------------------------- */
/** Status
-------------------------------------------------------------- */
/******************************************************************
STANDARD PAGES
******************************************************************/
/** Archives
-------------------------------------------------------------- */
/** Front Page
-------------------------------------------------------------- */
/** Home 
-------------------------------------------------------------- */
/** Search Results
-------------------------------------------------------------- */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/** 404 **/
/** Single 
-------------------------------------------------------------- */
/** Everything Else
-------------------------------------------------------------- */
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* date archive page */
/* replace the number to the corresponding page number */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/******************************************************************
COMMENT STYLES
******************************************************************/
.comments-area article {
  /* End header */

  /* general comment classes */

  /* vcard */

  /* end .commentlist .vcard */

  /* comment meta
-------------------------------------------------------------- */

  /* comment content
-------------------------------------------------------------- */

  /* end .commentlist .comment_content */

  /* comment reply link
		-------------------------------------------------------------- */

  /* end .commentlist .comment-reply-link */

}
.comments-area article header cite a:hover {
  text-decoration: underline;
}
.comments-area article header a:hover {
  color: #0f3647;
}
.comments-area article li {
  /* end .commentlist li ul.children */

}
.comments-area article li ul.children {
  /* variations */

  /* change number for different depth */

}
.comments-area article a.comment-reply-link:hover,
.comments-area article a.comment-edit-link:hover,
.comments-area article a.comment-reply-link:focus,
.comments-area article a.comment-edit-link:focus {
  color: #0f3647;
}
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
#respond form input[type=text],
#respond form input[type=email],
#respond form input[type=url],
#respond form textarea {
  /* form validation */

}
/* End #respond */
/******************************************************************
SIDEBARS & ASIDES
******************************************************************/
.widget-area .widget a:hover {
  color: #0f3647;
}
.widget-area .widget ul li {
  /* deep nesting */

}
.widget-area #s {
  width: 53.66666666666%;
  /* define a width to avoid dropping a wider submit button */

}
/** Widget 1
-------------------------------------------------------------- */
/** Widget 2 
-------------------------------------------------------------- */
/* If I ever release this as a theme a list of css for basic widgets 
can be found in the bones theme */
/******************************************************************
FOOTER STYLES
******************************************************************/
.site-footer a:hover {
  color: #0f3647;
}
/******************************************************************
AUTHOR BIOS
******************************************************************/
/******************************************************************
MULTI-SITE
******************************************************************//******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
