/** Site Header
-------------------------------------------------------------- */
/** 
header#masthead .site-header
	.inner-header
		.site-branding
			h1.site-title
			h2.site-description
		nav#site-navigation .main-navigation
	.banner
		.inner-banner		
-------------------------------------------------------------- */
.site-header {
	.inner-header {
		.padding-top(15px);
		.height(70px);
	}
}
.site-branding {
	float: left;
	text-align: left;
	
	a { 
		&:hover { }
	}
	.mobile-menu {
	}	
	.site-title {
		.font-size(20px);
		
		a { 
		}
	}
	.site-description {
	}
	.header-image {}
	.logo {
		margin: 0;
		text-align: center;
		
		img {
			.width(150px);
		}
	}
}
.banner {
	
	.inner-banner {
		
		h2 {
		}
	}
}

/** Navigation
-------------------------------------------------------------- */
/*
header#masthead .site-header
	.inner-header
		.site-branding
		nav#site-naviagtion .main-navigation
			h3.menu-toggle
			.asssitive-text
			nav.menu
				ul
					li.page-item
						a
-------------------------------------------------------------- */
.menu-toggle {}
.main-navigation {
	float: right;
	
.nav-menu {
	text-align: right;

	
	li { 
	.font-size(10px);
		
		&:hover {	}
		a {			
			&:hover, &:focus {}					
		}
		&:first-child {}
		&:last-child {}
		.sub-menu,
		.children {
			
			li {				
				&:hover,
				&:focus {
				}
				a {				
					&:link {}
				}
				&:first-child {}
				&:last-child {}
			}
		}
		&:hover ul {}
	} /* end .nav-menu li */
	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */			
} /* end .nav-menu ul */	
	.screen-reader-text {}
	.skip-link {}
} /* end .main-navigation */

/******************************************************************
FOOTER STYLES
******************************************************************/
.site-footer {
	.footer_inner {				
		.nav-menu {
			li {
				a {}
				&:first-child {}
				&:last-child {}
				.sub-menu,
				.children {
					li {
						a {}
					}
				}	
			}		
		}
		.contact-info {
			h3 {}
			p {}
		}
		.entry-meta {}
	}
}
.cop_footer {
	.footer_inner {	
	}
	.logo {}
	.cop_menu {
		ul {
			li { 					
				&:nth-of-type(1) { //visitors
					display: inline;
				}		
				&:nth-of-type(3) { //history
					display: inline;
				}
				&:nth-of-type(6) { //documents
				}		
				&:nth-of-type(7) { //contact us
				}							
				a {	}
			}
		}
	}
}	
.copyright {}

/** Home Page
-------------------------------------------------------------- */
.home {
	.entry-content {
		.column(6);
		.first;
	
	}
	.content-section-two {
		.column(6);
		.last;
		
	}
}